#Editors
*.swp
.idea/
.vs/
.vscode/
.DS_Store

#React
frontend/.DS_*
frontend/.idea/
frontend/*.log
frontend/logs
**/*.backup.*
**/*.back.*
frontend/node_modules
frontend/bower_components

#Java
backend/.idea/
backend/.project
backend/.classpath
backend/target/
*.class
*.jar
*.war
*.zip
*.tar.gz
*.rar


